<%= form_with(model: scrollz, local: true) do |form| %>
  <% if scrollz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scrollz.errors.count, "error") %> prohibited this scrollz from being saved:</h2>

      <ul>
      <% scrollz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
