<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Adventure</title>

  </head>
  <body>

    <div class="main">

    </div>

    <div class="scrollz">
        <% @scrollz.each do |scrollz|%>
          <div class="scrollz">
            <%= link_to "#{scrollz.title}", scrollz_path(scrollz.id), class: "scrollz_title" %>

            </div>
          </div>
        <% end %>
    </div>

  </body>
</html>
