<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="description">
      <%= @scrollz.description %>
    </div>
    <div class="form_play">
      <% if @first_stage %>
        <%= link_to "Play", scrollz_stage_path(@scrollz, @first_stage), class: "start_button"%>
      <% end %>
      <% if current_user && @scrollz.user_id == current_user.id %>
        <%= link_to "Edit", scrollz_create_path(@scrollz), class: "start_button" %>
      <% end %>
    </div>
  </body>
</html>
