                                            <!-- MAIN PAGE -->

  <div class="stage1">


    <div id="chap1" >
        <%= audio_tag "rain.mp3", :id => "rain", :onload => "playSound()" %>
      <br><br><br><br><br>
    </div>



    <div id="chap2">
      <br><br><br><br><br>
            <br>
        <div id="right">
            <!-- <a href="#chap3">Next</a> -->
        </div>
      </div>
    </div>

    <div class="stage1point5">
      <%= image_tag "rain.gif", :style => "width: 131%; left: -13%; position: relative; top: 14%"%>
    </div>

  </div>

    <div class="stage2">


      <div id="chap3">
        <br><br><br><br><br>
              <br>
        </div>


      <div id="chap4">
        <br><br><br><br><br>
        <%= audio_tag "Door Open and Close.mp3", :id => "door", :onload => "playSound()" %>
          </div>



      <div id="chap5">
        <br><br><br><br><br>
          </div>



          <div id="chap6">
            <br><br><br><br><br>
                  <br>
                    <!-- <a href="#chap7">Next</a> -->
              </div>



          <div id="chap7">
            <br><br><br><br><br>
                        <br>
                    <!-- <a href="#chap8">Next</a> -->
              </div>


          <div id="chap8">
            <br><br><br><br><br>
            </div>

          <div id="chap9">
            <br><br><br><br><br>
            </div>

          <div id="chap10">
            <br><br><br><br><br>
            </div>

          <div id="chap11">
            <br><br><br><br><br>
            </div>


          <div id="chap12">
            <br><br><br><br><br>
                        <br>
            </div>

            <div id="chap12pFive">
              <br><br><br><br><br>
              <%= image_tag "zzz.gif", :style =>"width: 131%;left: -13%;position: relative;top: -18%;width: 22%;left: 44%;"%>
              </div>



    <div id="chap13">
      <br><br><br><br><br>
            <br>
      </div>



        <div id="chap14">
          <br><br><br><br><br>
        </div>



        <div id="chap15">
          <br><br><br><br><br>
        </div>



        <div id="chap16">
          <br><br><br><br><br>
        </div>

        <div id="chap16point5">
          <br><br><br><br><br>
        </div>



        <div id="chap17">
          <br><br><br><br><br>
        </div>



        <div id="chap18">
          <br><br><br><br><br>
        </div>



        <div id="chap19">
          <br><br><br><br><br>

              <div class="class">
                <a href="/stages/show">Check out the <br><br> Classroom</a>
              </div>

              <div class="break">
                <a href="/stages/new">Check out the <br><br> Breakroom</a>
              </div>

        </div>


    </div>


    <script language="JavaScript1.2">



    //
    //
    var currentpos=0,alt=1,curpos1=0,curpos2=-1
      function initialize(){
      startit()
      }
      function scrollwindow(){
      if (document.all)
        temp=document.body.scrollTop
      else
        temp=window.pageYOffset
      if (alt==0)
        alt=1
      else
        alt=0
      if (alt==0)
        curpos1=temp
      else
        curpos2=temp
      if (curpos1!=curpos2){
        if (document.all)
          currentpos=document.body.scrollTop+1
      else
        currentpos=window.pageYOffset+1
        window.scroll(0,currentpos)
    }
      else{
          currentpos=0
          window.scroll(0,currentpos)
    }
    }
      function startit(){
          setInterval("scrollwindow()",1)
    }
        window.onload=initialize
    //
    //  </script>
