                                      <!-- BREAKROOM -->


<div id="chapBreak">
  <br><br><br><br><br>
  <a href="#chap20">
    <div id="chapHeap">
      <br><br><br><br><br>
    </div>
  </a>
</div>


<div class="stage3">

  <div id="chap20">
    <br><br><br><br><br>
  </div>


  <div id="chap21">
    <br><br><br><br><br>
  </div>


  <div id="chap22">
    <br><br><br><br><br>
  </div>


  <div id="chap23">
    <br><br><br><br><br>
  </div>


  <div id="chap24">
    <br><br><br><br><br>
  </div>


  <div id="chap25">
    <br><br><br><br><br>
  </div>


  <div id="chap26">
    <br><br><br><br><br>
  </div>


  <div id="chap27">
    <br><br><br><br><br>
  </div>


  <div id="chap28">
    <br><br><br><br><br>
  </div>


  <div id="chap29">
    <br><br><br><br><br>
  </div>


  <div id="chap30">
    <br><br><br><br><br>
  </div>

  <div id="chap31" style= "height:950px;">
    <br><br><br><br><br>
  </div>

</div>

<script>
var currentpos=0,alt=1,curpos1=0,curpos2=-1
function initialize(){
startit()
}
function scrollwindow(){
if (document.all)
  temp=document.body.scrollTop
else
  temp=window.pageYOffset
if (alt==0)
  alt=1
else
  alt=0
if (alt==0)
  curpos1=temp
else
  curpos2=temp
if (curpos1!=curpos2){
  if (document.all)
    currentpos=document.body.scrollTop+1
else
  currentpos=window.pageYOffset+1
  window.scroll(0,currentpos)
}

}
function startit(){
    setInterval("scrollwindow()",3)
}
  window.onload=initialize

</script>
