body {
  background-color: #fff;
  color: #333;
  margin: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.stage1 {
    /* The image used */
    background-image: url("citysquare");

    /* Set a specific height */
    min-height: 500px;

    /* Create the chapllax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stage2 {
    /* The image used */
    background-image: url("space");

    /* Set a specific height */
    min-height: 500px;

    /* Create the chapllax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.speech1{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: -296px;
  width: 25%;
}

.speech2{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 415px;
  width: 25%;
}

.speech3{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 1030px;
  width: 25%;
}

.speech6{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: -296px;
  width: 25%;
}

.speech7{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 1080px;
  width: 25%;
}

.speech8{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 1100px;
  width: 25%;
}

#right{
  margin: 0% 40%;
}

#left{
  margin: 0% 5%;
}

#chap1 {
  background-image: url("people1.png");
  // background-color: #ffffff94;
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 81%;
  height: 973px;
  left: 24%;
}
#chap2 {
  background-image: url("people3.png");
  // background-color: #ffffff94;
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 1300px;
  text-align: center;
}
#chap3 {
  background-image: url("people4.png");
  // background-color: #ffffff94;
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 81%;
  height: 805px;
}
#chap4 {
  // background-color: #ffffff94;
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 45%;
  height: 59px;
  left: 30%;
}
#chap5 {
  // background-color: #ffffff94;
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 45%;
  height: 59px;
}


#chap6 {
  background-image: url("people1.png");
  // background-color: #ffffff94;
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 81%;
  height: 973px;
  left: 24%;
}
#chap7 {
  background-image: url("people3.png");
  // background-color: #ffffff94;
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 1300px;
  text-align: center;
}
#chap8 {
  background-image: url("people4.png");
  // background-color: #ffffff94;
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 81%;
  height: 805px;
}
#chap9 {
  // background-color: #ffffff94;
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 45%;
  height: 59px;
  left: 30%;
}
#chap10 {
  // background-color: #ffffff94;
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 45%;
  height: 59px;
}
