body {
  background-color: #fff;
  color: #333;
  margin: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  width: 104%;
}

// p, ol, ul, td {
//   font-family: verdana, arial, helvetica, sans-serif;
//   font-size: 13px;
//   line-height: 18px;
// }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #ffffff00;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.text2 {
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font: bold 28px Arial, sans-serif;
    color: white;
    z-index: 1;
    text-shadow: 0 0 8px #222;
    text-align: center;
}

.stage1 {
    /* The image used */
    background-image: url("drexBack");

    /* Set a specific height */
    min-height: 500px;

    /* Create the chapllax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stage1point5 {
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    position: absolute;
    top: -0%;
    left: 7%;
}

.stage2 {
    /* The image used */
    background-image: url("drexC");

    /* Set a specific height */
    min-height: 500px;

    /* Create the chapllax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stage3 {
    /* The image used */
    background-image: url("drexB");

    /* Set a specific height */
    min-height: 500px;

    /* Create the chapllax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.speech1{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: -296px;
  width: 25%;
}

.speech2{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 415px;
  width: 25%;
}

.speech3{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 1030px;
  width: 25%;
}

.speech6{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: -296px;
  width: 25%;
}

.speech7{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 1080px;
  width: 25%;
}

.speech8{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 1100px;
  width: 122%;
  top: -21%;
}

.speech10{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 1100px;
  width: 25%;
}

.speech11{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 152px;
  width: 8%;
  text-align: center;
}

.speech12{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: -199px;
  width: 25%;
}

#right{
  margin: 0% 40%;
}

#chap1 {
  background-image: url("drexO");
  font-size: 36px;
  position: relative;
  top: -15px;
  width: 81%;
  height: 973px;
  left: 23%;
}
#chap2 {
  background-image: url("1");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 112%;
  height: 1300px;
  text-align: center;
  left: -10%;

}
#chap3 {
  background-image: url("2");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 103%;
  height: 1000px;
  left: -3%;
}
#chap4 {
  // background-color: #ffffff94;
  background-image: url("3");
  font-size: 36px;
  position: relative;
  top: 103px;
  width: 122%;
  height: 949px;
  left: 0%;
}
#chap5 {
  // background-color: #ffffff94;
  background-image: url("4");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 45%;
  height: 59px;
}


#chap6 {
  background-image: url("5");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 113%;
  height: 973px;
  left: -8%;
}

#chap7 {
  background-image: url("6");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 109%;
  height: 997px;
  text-align: center;
  left: -14%;
}

#chap8 {
   background-image: url("7");
   font-size: 36px;
   position: relative;
   top: 103px;
   width: 122%;
   height: 949px;
   left: 0%;
}

#chap10 {
  background-image: url("8");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 116%;
  height: 987px;
  left: -25%;
}

#chap11 {
  background-image: url("9");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 85%;
  height: 937px;
}

#chap12 {
  background-image: url("10");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 84%;
  height: 954px;
  left: 16%;
}

#chap13 {
  background-image: url("11");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 84%;
  height: 954px;
  left: 16%;
}

#chap14 {
  background-image: url("12");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 954px;
  left: 0%;
}

#chap15 {
  background-image: url("13");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 954px;
  left: 0%;
}

#chap16 {
  background-image: url("14");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 954px;
  left: 0%;
}

#chap16point5{
  background-image: url(break);
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 153%;
  height: 954px;
  left: 28%;
  background-repeat: no-repeat;
}

#chap17 {
  background-image: url("16");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 954px;
  left: 0%;
}

#chap18 {
  background-image: url("15");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 954px;
  left: 0%;
}

#chap19 {
  background-image: url("17");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 84%;
  height: 954px;
  left: 16%;
}

#chap20 {
  background-image: url("18");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 84%;
  height: 954px;
  left: 16%;
}

#chap21 {
  background-image: url("19");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 84%;
  height: 954px;
  left: 16%;
}

#chap22 {
  background-image: url("sophia");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 84%;
  height: 954px;
  left: 0%;
  background-repeat: no-repeat;
}

#chap23 {
  background-image: url("21");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 954px;
  left: 4%;
}

#chap24 {
  background-image: url("22");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 954px;
  left: 0%;
}

#chap25 {
  background-image: url("23");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 1071px;
  left: 0%;
}

#chap26 {
  background-image: url("24");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 103%;
  height: 954px;
  left: 0%;
  background-repeat: no-repeat;
}

#chap27 {
  background-image: url("25");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 84%;
  height: 954px;
  left: 16%;
}

#chap28 {
  background-image: url("26");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 104%;
  height: 1146px;
  left: -7%;
}

#chap29 {
  background-image: url("27");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 103%;
  height: 954px;
  left: 0%;
  background-repeat: no-repeat;
}

#chap30 {
  background-image: url("28");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 954px;
  left: 0%;
  background-repeat: no-repeat;
}

#chapBreak {
  background-image: url("drexB");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 100%;
  height: 954px;
  left: 0%;
}

#chapHeap {
  background-image: url("heap");
  font-size: 36px;
  position: relative;
  top: 560px;
  width: 100%;
  height: 954px;
  left: 70%;
  background-repeat: no-repeat;
}

#chapClass {
  background-image: url("drexC");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 103%;
  height: 954px;
  left: -5%;
}

#joe {
  background-image: url("joe");
  font-size: 36px;
  position: relative;
  top: -153px;
  width: 100%;
  height: 1071px;
  left: 34%;
  background-repeat: no-repeat;
}

.q1{
  font-size: 31px;
  position: relative;
  top: -168px;
  color: blue;
  left: 4%;
}

.q2{
  margin: 0% 2%;
  font-size: 31px;
  position: relative;
  top: -127px;
  color: blue;
  left: 2%;
}

#a1 {
  /* margin: 0% 2%; */
  font-size: 31px;
  position: relative;
  top: -752px;
  color: blue;
  left: 4%;
  transition: all ease 0.8s;
}


#a2 {
  margin: 0% 2%;
  font-size: 31px;
  position: relative;
  top: -739px;
  color: blue;
  left: 1%;
  transition: all ease 0.8s;
  }

.q1 a{
  color: black;
  position: relative;
  top: -788px;
  text-align: center;
  font-size: 35px;
  background-color: #6ab9ad3d;
  padding: 20px;
}

.q1 a:hover{
  position: relative;
  top: -788px;
  text-align: center;
  font-size: 35px;
  color: rgb(136, 8, 59);
}

.q2 a{
  color: black;
  position: relative;
  top: -788px;
  text-align: center;
  font-size: 35px;
  background-color: #6ab9ad3d;
  padding: 20px;
}

.q2 a:hover{
  position: relative;
  top: -788px;
  text-align: center;
  font-size: 35px;
  color: rgb(136, 8, 59);
}

.break{
  display: inline-block;
  color: red;
  margin: 2%;
  text-align: center;
}

.class{
  display: inline-block;
  color: red;
  margin: 2%;
  text-align: center;
}

.class1 a{
  display: inline-block;
  color: red;
  margin: 2%;
  text-align: center;
  position: relative;
  left: 4%;
  font-size: 41px;
  top: 64px;
}

.class1 a:hover{
  display: inline-block;
  color: rgb(98, 136, 191);
  margin: 2%;
  text-align: center;
}



.class a{
  display: inline-block;
  color: red;
  margin: 2%;
  text-align: center;
}

.class a:hover{
  display: inline-block;
  color: rgb(98, 136, 191);
  margin: 2%;
  text-align: center;
}

.break a{
  display: inline-block;
  color: red;
  margin: 2%;
  text-align: center;
}

.break a:hover{
  display: inline-block;
  color: rgb(98, 136, 191);
  margin: 2%;
  text-align: center;
}
