body {
  background-color: #fff;
  color: #333;
  margin: 0px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #ffffff00;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

.stage1 {
    /* The image used */
    background-image: url("cloudy sky");

    /* Set a specific height */
    min-height: 500px;

    /* Create the chapllax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stage2 {
    /* The image used */
    background-image: url("classroom");

    /* Set a specific height */
    min-height: 500px;

    /* Create the chapllax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.stage3 {
    /* The image used */
    background-image: url("space");

    /* Set a specific height */
    min-height: 500px;

    /* Create the chapllax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.speech1{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: -296px;
  width: 25%;
}

.speech2{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 415px;
  width: 25%;
}

.speech3{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 1030px;
  width: 25%;
}

.speech6{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: -296px;
  width: 25%;
}

.speech7{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 1080px;
  width: 25%;
}

.speech8{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 1100px;
  width: 122%;
  top: -21%;
}

.speech10{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 1100px;
  width: 25%;
}

.speech11{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: 152px;
  width: 8%;
  text-align: center;
}

.speech12{
  background-color: #ffffffb8;
  padding: 30px;
  display: inline-flex;
  color: black;
  position: relative;
  left: -199px;
  width: 25%;
}

#right{
  margin: 0% 40%;
}

#chap1 {
  background-image: url("FinalProj1");
  // background-color: #ffffff94;
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 81%;
  height: 973px;
  left: 24%;
}
#chap2 {
  background-image: url("FinalProj2");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 112%;
  height: 1300px;
  text-align: center;
  left: -10%;

}
#chap3 {
  background-image: url("FinalProj3");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 103%;
  height: 1000px;
  left: -3%;
}
#chap4 {
  // background-color: #ffffff94;
  background-image: url("FinalProj5");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 45%;
  height: 59px;
  left: 30%;
}
#chap5 {
  // background-color: #ffffff94;
  background-image: url("FinalProj6");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 45%;
  height: 59px;
}


#chap6 {
  background-image: url("FinalProj7");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 113%;
  height: 973px;
  left: -8%;
}

#chap7 {
  background-image: url("FinalProj8");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 109%;
  height: 997px;
  text-align: center;
  left: -14%;
}

#chap8 {
   background-image: url("FinalProj9");
   font-size: 36px;
   position: relative;
   top: 103px;
   width: 122%;
   height: 949px;
   left: -22%;
}

#chap9 {
  background-image: url("FinalProj10");
  font-size: 36px;
  position: relative;
  top: 112px;
  width: 176%;
  height: 959px;
  left: -24%;
}

#chap10 {
  background-image: url("FinalProj11");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 116%;
  height: 987px;
  left: -25%;
}

#chap11 {
  background-image: url(FinalProj12);
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 85%;
  height: 937px;
}

#chap12 {
  background-image: url("FinalProj13");
  font-size: 36px;
  position: relative;
  top: -20px;
  width: 84%;
  height: 954px;
  left: 16%;
}
